<figure class="filters">
  <div class="filters-header">
    Filters
  </div>
  {{> filters-category label="Places to Stay" value="hotels" }}
  {{> filters-category label="Food & Drinks" value="restaurants" }}
  {{> filters-category label="What to See" value="events" }}
  {{> filters-category label="Things to Do" value="things-to-do" }}
</figure>

<figure class="lists">
  <div class="lists-header">
   Lists
  </div>
  <div class="lists-category"><a href="#">NYC</a></div>
  <div class="lists-category"><a href="#">Honeymoon</a></div>
  <div class="lists-category"><a href="#">Feeling Lucky</a></div>
  <div class="lists-category"><a href="#">List 1</a></div>
</figure>
