<div class="filters-category">
  <div class="checkbox">
    <input type="checkbox" value="{{ value }}" id="checkbox" name="{{ value }}" checked class ="filters"/>
    <label for="{{ value }}">{{ label }}</label>
  </div>
</div>
