<figure class="filters">
  <div class="filters-header">
    Filters
  </div>
  {{> filters-category label="Places to Stay" value="hotels" class="filters-check"}}
  {{> filters-category label="Food & Drinks" value="restaurants" class="filters-check"}}
  {{> filters-category label="What to See" value="events" class="filters-check"}}
  {{> filters-category label="Things to Do" value="things_todo" class="filters-check"}}
  <div class="filters-divider">
    <hr style="width: 90%;">
  </div>
  {{> filters-category label="Spring" value="spring" class ="season-check"}}
  {{> filters-category label="Summer" value="summer" class ="season-check"}}
  {{> filters-category label="Autumn" value="autumn" class ="season-check" }}
  {{> filters-category label="Winter" value="winter" class ="season-check"}}
</figure>
