<figure class="filters">
  <div class="filters-header">
    Filters
  </div>
  {{> filters-category label="Places to Stay" value="hotels" }}
  {{> filters-category label="Food & Drinks" value="restaurants" }}
  {{> filters-category label="What to See" value="events" }}
  {{> filters-category label="Things to Do" value="things-to-do" }}
  <div class="filters-divider">
    <hr style="width: 90%;">
  </div>
  {{> filters-category label="Spring" value="spring" }}
  {{> filters-category label="Summer" value="summer" }}
  {{> filters-category label="Autumn" value="autumn" }}
  {{> filters-category label="Winter" value="winter" }}
</figure>
