<figure class="filters">
  <div class="filters-header">
    Filters
  </div>
  {{> filters-category label="Places to Stay" value="hotels" }}
  {{> filters-category label="Food & Drinks" value="restaurants" }}
  {{> filters-category label="What to See" value="events" }}
  {{> filters-category label="Things to Do" value="things-to-do" }}
</figure>
