<form action="/" method="post" class="search-form">
  <input type="text" name="city" id="city" value="{{#if city}} {{ city }}{{/if}}" placeholder="City">
  <input type="date" name="date" id="date" placeholder="Journey date" value="{{#if date}}{{ date }}{{/if}}">
  <input type="submit" value="Suggest Me !!!">
</form>
