<figure class="lists">
  <div class="lists-header">
    My saved lists
  </div>
  {{> lists-category value="Spring" }}
  {{> lists-category value="Summer" }}
  {{> lists-category value="Autumn" }}
  {{> lists-category value="Winter" }}
</figure>
