<div class="tiles">
  <div class="venue">
    <div class="favorites">
      <div class="favorites-icon">
        <a href="#"><img src="../../assets/img/icons-heart.png"></a>
      </div>
    </div>
    <img src="{{image}}">
  </div>
  <div class="tiles deck">
    <h3><a href="{{link}}">{{title}}</a></h3>
    <p><img src="../../assets/img/5-star.png"><span class="reviews">{{totalRatings}} Reviews</span></p>
  </div>
</div>
