<html>
<head>
<link rel="stylesheet" href="/assets/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="{{ city }} horizontal">
  <div class="box">
    <section class="header">
      <div class="city-title">
        <h1>New York City</h1>
      </div>
      {{> form }}
    </section>
    <section class="content">
    <figure class="left-rail">
      {{> filters }}
    </figure>
    {{> content}}
  </section>
</body>
</html>
