<html>
<head>
<link rel="stylesheet" href="../../assets/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../../assets/javascript/city.js"></script>
</head>
<body class="{{ city }} horizontal">
  <div class="box">
    <section class="header">
      <div class="city-title">
        <h1>New York City</h1>
      </div>
      {{> form }}
    </section>
    <section class="content">
    <figure class="left-rail">
      {{> filters }}
      {{> lists }}
    </figure>
    <figure class="tiles column">
      <div class="category"><h2>Hotels</h2></div>
        {{#each data.hotels}}
          {{> tiles data=this }}
        {{/each}}
      </div>
    </figure>
    <figure class="tiles column">
      <div class="category"><h2>Food & Drinks</h2></div>
      {{#each data.restaurants}}
        {{> tiles data=this }}
      {{/each}}
    </figure>
    <figure class="tiles column">
      <div class="category"><h2>What to See</h2></div>
      {{#each data.events}}
        {{> tiles data=this }}
      {{/each}}
    </figure>
    <figure class="tiles column">
      <div class="category"><h2>Things to Do</h2></div>
      {{#each data.things-todo}}
        {{> tiles data=this }}
      {{/each}}
    </figure>
    <figure class="tiles column">
      <div class="category"><h2>Related Articles</h2></div>
      {{#each data.articles}}
        {{> tiles data=this }}
      {{/each}}
    </figure>
  </section>
</body>
</html>
