<html>
<head>
<link rel="stylesheet" href="/assets/css/style.css">

</head>
<body class="{{ city }}">
  <section class="header">
    {{> form }}
  </section>
  <section class="content">
    {{> filters }}
    {{> tiles }}
  </section>
</body>
</html>
