<html>
<head>
<link rel="stylesheet" href="/assets/css/style.css">

</head>
<body class="home">
   <form action="/" method="post" class="search-form">
     <input type="text" name="city" id="city" placeholder="City to Visit">
     <input type="date" name="date" id="data" placeholder="Journey date">
     <input type="submit" value="Suggest Me !!!">
   </form>
</body>
</html>
