<html>
<head>
  <title>My {{season}} Favorites</title>
<link rel="stylesheet" href="../../assets/css/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../../assets/javascript/data.js"></script>
<script src="../../assets/javascript/city.js"></script>
</head>
<body class="{{ city }} horizontal">
  <div class="box">
    <section class="header">
      <div class="city-title">
        <h1>My {{season}} Favorites</h1>
      </div>
      {{> form }}
    </section>
    <section class="content lists">
      {{#if data.hotels}}
        <figure class="tiles column">
          <div class="category"><h2>Hotels</h2></div>
            {{#each data.hotels}}
              {{> tiles data=this }}
            {{/each}}
          </figure>
      {{/if}}
      {{#if data.restaurants}}
        <figure class="tiles column">
          <div class="category"><h2>Food & Drinks</h2></div>
          {{#each data.restaurants}}
            {{> tiles data=this }}
          {{/each}}
        </figure>
      {{/if}}
      {{#if data.events}}
        <figure class="tiles column">
          <div class="category"><h2>Events</h2></div>
          {{#each data.events}}
            {{> tiles data=this }}
          {{/each}}
        </figure>
      {{/if}}
      {{#if data.things-todo}}
        <figure class="tiles column">
          <div class="category"><h2>Things to Do</h2></div>
          {{#each data.things-todo}}
            {{> tiles data=this }}
          {{/each}}
        </figure>
      {{/if}}
  </section>
</body>
</html>
