body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body.home {
  background: url('../../assets/img/travel-guide.jpg') no-repeat center center fixed;
  background-size: cover;
}
/*body.nyc {
  background: url('../img/nyc.jpg');
}*/

.search-form {
  width: 500px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid grey;
  margin: 0 auto;
}
.home .search-form {
  top: 48%;
  position: absolute;
  left: 35%;
}
/*.nyc .search-form {
  top: 15%;
  position: absolute;
  left: 35%;
}*/
.horizontal .header-bar {
  width: 100%;
  overflow: hidden;
  height: 45px;
}
.horizontal .header-bar .header-account-menu {
  outline: 0;
  padding: .46153846em .61538462em .46153846em .61538462em;
  font-size: 1em;
  line-height: 1.45;
  cursor: pointer;
  right: 25px;
  background: 0 0;
  border-radius: 0;
  font-weight: 400;
  float: right;
  text-align: right;
  color: #68a19a;
  border: 0;
  width: 100%;
  position: absolute;
  top: 5px;
}
.horizontal .header-bar .logo {
  position: absolute;
  margin-top: 5px;
  left: 60px;
}
.horizontal .header-bar .header-account-menu .btn-label:hover {
  border-radius: .23076923em;
    background: #edf7ff;
    color: #0065b8;
}
.horizontal .header-bar .header-account-menu .btn-label {
  display: inline;
  padding: 0;
  pointer-events: none;
}
.horizontal .header-bar .header-account-menu .btn-label .icon-toggle {
  vertical-align: middle;
}
.horizontal .header .city-title {
  position: absolute;
  top: 110px;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.horizontal .header .city-title h1 {
  font-family: arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.horizontal .search-form {
  margin-top: 160px;
  margin-bottom: 20px;
}
.horizontal .left-rail {
  position: absolute;
  top: 300px;
  left: 20px;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  text-align: left;
}
.horizontal .filters {
  padding: 0 0 10px 0;
  border: 1px solid #eee;
  background: none;
}
.horizontal .lists {
  padding: 0 0 10px 0;
  /*border: 1px solid #eee;*/
  background: none;
  display: block;
}
.horizontal .filters p,
.horizontal .lists p {
  text-align: left;
}
.horizontal .filters-header,
.horizontal .lists-header {
  background-color: #68a19a;
  padding: 10px 10px 10px 15px;
  color: #fff;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.horizontal .filters-category,
.horizontal .lists-category {
  color: #000;
  font-size: 12px;
  padding: 5px 0;
  font-family: arial, sans-serif;
  width: 100%;
  margin-left: 5px;
}
.horizontal .filters-category a,
.horizontal .lists-category a {
  padding: 0px 15px 10px 15px;
  text-decoration: none;
  color: #000;
}
.horizontal .filters-category .filters {
  float: left;
  width: auto;
}
.horizontal .filters-category label {
  display: inline-block;
  margin-left: 10px;
}
.filters,
.lists {
  width: 150px;
  background: rgba(0,0,0,0.4);
  padding: 10px;
  margin: 0;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
.filters h3 {
  color: #fff;
  font-size: 20px;
  font-family: arial, sans-serif;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.filters p {
  color: #fff;
  font-size: 18px;
  background: #68a19a;
  padding: 3px;
  text-align: center;
  border-radius: 3px;
  font-family: arial, sans-serif;
}
.box {
  display: block;
  /*display: flex;*/
  /*flex-flow: column;*/
  height: 100%;
}
.header {
  width: 100%;
  /*height:*/
  overflow: hidden;
  flex: 0 1 250px;
  /*background: url('../../assets/img/nyc.jpg');*/
  background-position: center;
}
.bg-img {
  width: 100%;
  height: 230px;
  /*transform: scale(0.3,0.3);*/
  z-index: -40;
}
canvas {
  top:45px !important;
  z-index: 0 !important;
}
.content {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
  text-align: center;
  flex: 1 1 auto;
  /*background-color: #f5f5f5;*/
}
.footer {
  flex: 0 1 1px;
}
.horizontal .tiles.column {
  float: right;
  width: 81%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: none;
  margin: 0px 30px 20px 0;
  padding: 0 0 10px 0;
}
.horizontal .tiles {
  display: inline-block;
  width: 250px;
  margin-bottom: 0;
  margin-right: 10px;
  vertical-align: top;
}
.horizontal .tiles .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 10000000000;
}
.horizontal .tiles .overlay:target {
  visibility: visible;
  opacity: 1;
}

.horizontal .tiles .popup {
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 0.5s ease-in-out;
  max-height: 87%;
  overflow-x: scroll;
}
.horizontal .tiles .popup .popup-venue-image img {
  width: 100%;
  max-height: 412px;
}
.horizontal .tiles .popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.horizontal .tiles .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.horizontal .tiles .popup .close:hover {
  color: #06D85F;
}
.horizontal .tiles .popup .content {
  max-height: 80%;
  overflow: auto;
}
.horizontal .tiles .category h2 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 5px;
}
.horizontal .tiles.deck {
  padding: 10px;
  width: 92%;
  color: #000;
}
.horizontal .tiles.deck p {
  -webkit-margin-after: 0;
}
.horizontal .tiles.deck p img {
  vertical-align: middle;
}
.horizontal .tiles .reviews {
  font-size: 12px;
  padding-left: 5px;
}
.horizontal .tiles .venue img {
  max-width: 250px;
  vertical-align: middle;
  max-height: 156px;
  width: 100%;
}
.horizontal .tiles.column .venue {
  position: relative;
}
.horizontal .tiles.column .venue .favorites {
  float: left;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  padding: 5px;
}
.horizontal .tiles.column .venue .favorites .favorites-icon {
  border-radius: 20px;
  padding: 5px;
  background-color: rgba(255,255,255,0.7);
}
.horizontal .lists .tiles.column .venue .favorites .favorites-icon {
  border-radius: 20px;
  padding: 5px;
  background-color: transparent;
}
.horizontal .tiles.column .venue .favorites .favorites-icon img {
  width: 20px;
  height: 20px;
}
.horizontal .tiles.deck h3 a {
  white-space: normal;
}
.tiles.column {
  width: 250px;
  background: rgba(0,0,0,0.4);
  padding: 10px;
  margin: 0;
  font-family: arial, sans-serif;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  /*overflow: auto;*/
  /*max-height: 57vh;*/
}
.tiles {
  width: 100%;
  background: rgba(255,255,255,1);
  margin-bottom: 10px;
}
.tiles.deck h3 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.tiles.deck h3 a {
  text-decoration: none;
  color: #000;
}
.tiles.deck {
  padding: 10px 25px;
  width: 80%;
}
#city {
  width: 190px;
  height: 25px;
}
input[type="date"]:before {
content: attr(placeholder) !important;
color: #aaa;
       margin-right: 0.5em;
}
input[type="date"]:focus:before,
	input[type="date"]:valid:before {
content: "";
	}
input[type="date"] {
width: 203px;
    height: 25px;
}


.saved-lists {
  width: 100%;
}
.saved-lists a{
  width: 70%;
}

.saved-lists p {
  float:right;
  width: 20%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.search-form {
  position: absolute;
  z-index: 10000;
  left: 35%;
  top: 10px;
}

#share-buttons {
  height: 41px;
  overflow: hidden;
  float: right;
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

.saved-lists p {
    margin: 0px;
}
